/* メンバーリストの高さ調整 */
.members_c8ffbb {
    height: auto;
    max-height: 100vh;
}

/* メンバーリストの横幅変更 */
:not(.ChannelDms-channelmembers-wrap) .membersWrap_c8ffbb, .container_c8ffbb {
    right: 0;
    width: unset;
    min-width: unset;
    height: 100%;
}

/*サーバー内のメンバーリストの幅*/
:not(.ChannelDms-channelmembers-wrap) .members_c8ffbb {
    width: 65px;
    transition: width 0.5s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

/* DMメンバーリストのホバー時の幅変更 */
:not(.ChannelDms-channelmembers-wrap) .membersWrap_c8ffbb:hover .members_c8ffbb,
.ChannelDms-channelmembers-wrap:hover {
    width: 240px;
    transition: width 0.5s 0s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

/* DMメンバーリストの幅を100%にする */
.ChannelDms-channelmembers-wrap :is(.membersWrap_c8ffbb, .members_c8ffbb, .privateChannels__35e86),
html #MemberCount {
    width: 100%;
}